<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="shortcut icon" sizes="196x196" href="/icon.png">
        <link rel="apple-touch-icon" href="/icon.png"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="minimum-scale=1, initial-scale=1, maximum-scale=1">
        <meta name="description" content="Simple Web Audio Player">

        <meta property="og:title" content="SoundME">
        <meta property="og:type" content="website">
        <meta property="og:description" content="Simple Web Audio Player">
        <meta property="og:site_name" content="SoundME">
        <meta property="og:image" content="{{baseUrl}}icon.png">

        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content="@syu_chan_1005"/>
        <meta name="twitter:creator" content="@syu_chan_1005"/>
        <meta name="twitter:title" content="SoundME"/>
        <meta name="twitter:description" content="Simple Web Audio Player"/>
        <meta name="twitter:image" content="{{baseUrl}}icon.png"/>

        <title>SoundME</title>

        <link rel="stylesheet" href="/reset.css">
        <link rel="stylesheet" href="/theme/{{theme}}/top.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosansjapanese.css">

        <script src="/js/jquery.particleground.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/js/sha256.js"></script>
        <script>
            function getSHA256(str) {
                const shaObj = new jsSHA("SHA-256", "TEXT", 1);
                shaObj.update(str);
                return shaObj.getHash("HEX");
            }

            document.addEventListener('DOMContentLoaded', function () {
                particleground(document.getElementById("main"), {
                    dotColor: '#ffffff',
                    lineColor: '#ffffff'
                });
                const loginButton = document.getElementById("login-btn");
                loginButton.addEventListener("click", function () {
                    const name = document.getElementById("name").value;
                    const pass = document.getElementById("pass").value;
                    if (name && pass) {
                        const salt = getSHA256(name);
                        let hash = "";
                        for (let i = 0; i < 10000; i++) {
                            hash = getSHA256(hash + salt + pass);
                        }
                        axios({
                            url: location.href,
                            method: "POST",
                            data: {
                                name: name,
                                passhash: hash
                            }
                        }).then(function (response) {
                            location.reload();
                        }).catch(function (error) {
                            document.getElementById("warnText").style.display = "inline";
                        });
                    }
                }, false);
                document.getElementById("pass").addEventListener("keydown", function () {
                    if(window.event.keyCode === 13) {
                        loginButton.click();
                    }
                }, false);
            });

            window.addEventListener("touchmove", (e) => e.preventDefault(), {passive: false});
        </script>
    </head>

    <body id="main">
        <div id="ctx">
            <div>
                <p id="logo">SoundME</p>
            </div>

            <div class="login">
                <div id="warnText">Username or Password incorrect</div>
                <input type="text" title="username" id="name" placeholder="UserName">
                <input type="password" title="password" id="pass" placeholder="Password">
                <button id="login-btn">ログイン</button>
            </div>
        </div>
    </body>
</html>