<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Simple Web Audio Player">

        <meta property="og:title" content="SoundME">
        <meta property="og:type" content="website">
        <meta property="og:description" content="Simple Web Audio Player">
        <meta property="og:site_name" content="SoundME">
        <meta property="og:image" content="{{baseUrl}}icon.png">

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@syu_chan_1005" />
        <meta name="twitter:creator" content="@syu_chan_1005" />
        <meta name="twitter:title" content="SoundME" />
        <meta name="twitter:description" content="Simple Web Audio Player" />
        <meta name="twitter:image" content="{{baseUrl}}icon.png" />

        <title>SoundME</title>

        <link rel="stylesheet" href="/reset.css">
        <link rel="stylesheet" href="/theme/{{theme}}/top.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosansjapanese.css">

        <script src="/js/jquery.particleground.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/js/sha256.js"></script>
        <script>
            function sendClick() {
                const name = document.getElementById("name").value;
                const pass = document.getElementById("pass").value;
                if (name && pass) {
                    axios({
                        url: location.href,
                        method: "POST",
                        data: {
                            name: name,
                            passhash: createHash(name, pass)
                        }
                    }).then(function (response) {
                        location.reload();
                    }).catch(function (error) {
                        document.getElementById("warnText").style.display = "inline";
                    });
                }
            }

            function createHash(username, password) {
                const salt = getSHA256(username);
                let hash = "";
                for (let i = 0; i < 10000; i++) {
                    hash = getSHA256(hash + salt + password);
                }
                return hash;
            }

            function getSHA256(str) {
                const shaObj = new jsSHA("SHA-256", "TEXT", 1);
                shaObj.update(str);
                return shaObj.getHash("HEX");
            }

            document.addEventListener('DOMContentLoaded', function () {
                particleground(document.getElementById("main"), {
                    dotColor: '#ffffff',
                    lineColor: '#ffffff'
                });
            });

            window.addEventListener("touchmove", (e) => e.preventDefault(), false);
        </script>
    </head>

    <body id="main">
        <div id="ctx">
            <div>
                <p id="logo">SoundME</p>
            </div>

            <div class="login">
                <div id="warnText">Username or Password incorrect</div>
                <input type="text" title="username" id="name" placeholder="UserName" value="user">
                <input type="password" title="password" id="pass" placeholder="Password" value="pass">
                <button onclick="sendClick()" id="login-btn">ログイン</button>
            </div>
        </div>
    </body>
</html>