.album-songs {
    width: 100%;
    background-color: #dadada;
    display: flex;
    margin-top: 5px;
    padding-bottom: 10px;
}

.album-data {
    flex-direction: row;
    margin: 20px;
}

.album-songs-data {
    width: 100%;
    margin-top: 20px;
}

.album-name-title {
    font-size: 2rem;
}

.album-artist-name {
    font-size: 1.5rem;
}

.album-genre {
    color: #5d5d5d;
}

.song-data {
    display: flex;
    padding: 2px;
}

.song-track {
    font-family: player;
    cursor: pointer;
    margin-top: 12px;
    color: #5d5d5d;
    width: 2rem;
}

.song-track:before {
    content: attr(data-content);
}

.song-detail {
    margin-left: 20px;
}

.song-artist {
    color: #5d5d5d;
}
