.albums-data {
    margin: 0 10px;
}

.album-art {
    margin-top: 10px;
}

.album-name {
    width: 165px;
}

.album-artist {
    color: #777777;
    width: 165px;
}

.dummy_album {
    width: 185px;
}

#list {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-x: hidden;
    overflow-y: scroll;
}