@font-face {
    font-family: 'player';
    src: url('fonts/player.woff') format('woff'),
    url('fonts/player.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^="pIcon-"], [class*=" pIcon-"] {
    font-family: 'player' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pIcon-list:before {
    content: "\e900";
}
.pIcon-play:before {
    content: "\ea1c";
}
.pIcon-pause:before {
    content: "\ea1d";
}
.pIcon-backward:before {
    padding-right: 7px;
    content: "\ea1f";
}
.pIcon-forward:before {
    content: "\ea20";
}
.pIcon-volume-high:before {
    content: "\ea26";
}
.pIcon-volume-medium:before {
    content: "\ea27";
}
.pIcon-volume-low:before {
    content: "\ea28";
}
.pIcon-volume-mute:before {
    content: "\ea2a";
}

input[type=range].volume-range:focus {
    outline: none;
}

input[type=range].volume-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 4.8px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: rgba(0, 0, 0, 0.21);
    border-radius: 1.3px;
    border: 0.2px solid rgba(0, 1, 1, 0);
}

input[type=range].volume-range::-webkit-slider-thumb {
    box-shadow: 0.9px 0.9px 1px rgba(0, 0, 0, 0.31), 0 0 0.9px rgba(13, 13, 13, 0.31);
    border: 1.8px solid rgba(0, 0, 0, 0.2);
    height: 13px;
    width: 13px;
    border-radius: 13px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4.3px;
}

input[type=range].volume-range::-moz-range-track {
    width: 100%;
    height: 4.8px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: rgba(0, 0, 0, 0.21);
    border-radius: 1.3px;
    border: 0.2px solid rgba(0, 1, 1, 0);
}

input[type=range].volume-range::-moz-range-thumb {
    box-shadow: 0.9px 0.9px 1px rgba(0, 0, 0, 0.31), 0 0 0.9px rgba(13, 13, 13, 0.31);
    border: 1.8px solid rgba(0, 0, 0, 0.2);
    height: 13px;
    width: 13px;
    border-radius: 13px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range].volume-range::-ms-track {
    width: 100%;
    height: 4.8px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range].volume-range::-ms-fill-upper {
    background: rgba(0, 0, 0, 0.21);
    border: 0.2px solid rgba(0, 1, 1, 0);
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
}

input[type=range].volume-range::-ms-thumb {
    box-shadow: 0.9px 0.9px 1px rgba(0, 0, 0, 0.31), 0 0 0.9px rgba(13, 13, 13, 0.31);
    border: 1.8px solid rgba(0, 0, 0, 0.2);
    width: 13px;
    border-radius: 13px;
    background: #ffffff;
    cursor: pointer;
    height: 4.8px;
}

input[type=range].volume-range:focus::-ms-fill-lower {
    background: rgba(0, 0, 0, 0.21);
}

input[type=range].seek-range:focus {
    outline: none;
}

input[type=range].seek-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 3.3px;
    cursor: pointer;
    box-shadow: 0.2px 0.2px 0 #000000, 0 0 0.2px #0d0d0d;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0;
    border: 0 solid #000101;
}

input[type=range].seek-range::-webkit-slider-thumb {
    box-shadow: 0.9px 0.9px 1px rgba(0, 0, 0, 0), 0 0 0.9px rgba(13, 13, 13, 0);
    border: 1px solid #000000;
    height: 17px;
    width: 0;
    border-radius: 0;
    background: #000000;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.85px;
}

input[type=range].seek-range:focus::-webkit-slider-runnable-track {
    background: rgba(0, 0, 0, 0.2);
}

input[type=range].seek-range::-moz-range-track {
    width: 100%;
    height: 3.3px;
    cursor: pointer;
    box-shadow: 0.2px 0.2px 0 #000000, 0 0 0.2px #0d0d0d;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0;
    border: 0 solid #000101;
}

input[type=range].seek-range::-moz-range-thumb {
    box-shadow: 0.9px 0.9px 1px rgba(0, 0, 0, 0), 0 0 0.9px rgba(13, 13, 13, 0);
    border: 1px solid #000000;
    height: 17px;
    width: 0;
    border-radius: 0;
    background: #000000;
    cursor: pointer;
}

input[type=range].seek-range::-ms-track {
    width: 100%;
    height: 3.3px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range].seek-range::-ms-fill-lower {
    background: rgba(0, 0, 0, 0.2);
    border: 0 solid #000101;
    border-radius: 0;
    box-shadow: 0.2px 0.2px 0 #000000, 0 0 0.2px #0d0d0d;
}

input[type=range].seek-range::-ms-fill-upper {
    background: rgba(0, 0, 0, 0.2);
    border: 0 solid #000101;
    border-radius: 0;
    box-shadow: 0.2px 0.2px 0 #000000, 0 0 0.2px #0d0d0d;
}

input[type=range].seek-range::-ms-thumb {
    box-shadow: 0.9px 0.9px 1px rgba(0, 0, 0, 0), 0 0 0.9px rgba(13, 13, 13, 0);
    border: 1px solid #000000;
    width: 0;
    border-radius: 0;
    background: #000000;
    cursor: pointer;
    height: 3.3px;
}

input[type=range].seek-range:focus::-ms-fill-lower {
    background: rgba(0, 0, 0, 0.2);
}

input[type=range].seek-range:focus::-ms-fill-upper {
    background: rgba(0, 0, 0, 0.2);
}

.player {
    background-color: #f1f1f1;
    width: calc(100% - 216px);
    display: flex;
    align-items: center;
}

.player button {
    font-size: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
}

.volume-icon {
    font-size: 1.5rem;
    margin-left: 3px;
}

input[type=range].volume-range {
    -webkit-appearance: none;
    width: 100px;
    margin: 4px 0;
}

.album {
    margin: 0 5px;
    border-radius: 5px;
}

.title {
    width: 95%;
    height: 16px;
    white-space: nowrap;
    overflow: hidden;
}

.artist {
    width: 95%;
    height: 12px;
    white-space: nowrap;
    overflow: hidden;
}

.song {
    width: calc(100% - 21rem);
    font-size: 0.5rem;
}

input[type=range].seek-range {
    -webkit-appearance: none;
    width: 95%;
    margin: 7px 0;
}

.list-btn {
    padding: 2px 6px !important;
    font-size: 1.5rem !important;
}

#list-window {
    display: flex;
    visibility: collapse;
    flex-wrap: wrap;
    position: absolute;
    z-index: 3;
    right: 0;
    width: 30%;
    max-width: 300px;
    min-height: 20%;
    max-height: 90%;
    margin-top: 60px;
    border: 1px solid #e2e2e2;
    background-color: #ffffff;
}

.list-queue, .list-lyrics {
    background-color: #ffffff;
    flex-grow: 1;
    align-items: flex-start;
    height: 1.5rem;
    text-align: center;
}

.list-queue {
    border-right: solid #e2e2e2 1px;
    border-bottom: solid #e2e2e2 1px;
    background-color: #f4f4f4;
}

.list-lyrics {
    border-left: solid #e2e2e2 1px;
    border-bottom: solid #e2e2e2 1px;
}

#list-ctx {
    width: 100%;
    max-height: 80vh;
    padding-bottom: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.queue-item {
    display: flex;
}

.queue-song-data {
    display: flex;
    flex-direction: column;
}

.queue-title {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
}

.queue-artist {
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
}

@include mobile() {
    .volume-icon {
        display: none;
    }

    .volume-range {
        display: none;
    }

    .player {
        width: 100%;
    }

    .song {
        width: calc(100% - 13rem);
    }

    #list-window {
        margin-top: auto;
        bottom: 100px;
    }
}