button.setting {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    border-radius: 5px;
    height: 3rem;
    color: white;
}

span.setting {
    font-size: 2rem;
}

progress {
    width: 100%;
}

.src-input-setting {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.dest-input-setting {
    display: flex;
    flex-direction: row;
    margin-right: auto;
}

#settings {
    margin: 5px;
    height: 100%;
}

#path-setting {
    display: flex;
    flex-direction: column;
}

#convert-setting {
    display: flex;
    border: solid #888888 2px;
    border-radius: 5px;
    padding: 2px;
}

#src-setting {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-right: solid #777777 1px;
}

#dest-setting {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#warn-format {
    display: flex;
    justify-content: space-around;
    border: solid #add8e6 2px;
    border-top: none;
    border-radius: 3px;
}

#submit {
    background-color: #4CAF50;
    padding: 5px;
    margin-top: 5px;
}

#send-data {
    border: solid black 2px;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

#db-management {
    text-align: center;
}

#update {
    width: 97%;
    background-color: #4CAF50;
    margin-bottom: 5px;
}

#update-progress {
    border: solid #000000 1px;
    border-radius: 5px;
    display: none;
}

#warnText {
    color: red;
}

#risky {
    display: flex;
    justify-content: space-around;
}

#clear-cache {
    width: 30%;
    background-color: #ff7f50;
}

#reset-db {
    width: 30%;
    background-color: #ff7f50;
}

#reset-all {
    width: 30%;
    background-color: #dc143c;
}

table.user-table {
    border-collapse: collapse;
    width: 100%;
}

.user-table th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.add-user {
    color: #4CAF50;
    font-size: 1.5rem;
    font-weight: 900;
    cursor: pointer;
}

.delete-user {
    color: red;
    font-weight: 900;
    cursor: pointer;
}

#user-form {
    width: 20%;
    display: none;
    flex-direction: column;
    position: absolute;
    top: calc(50vh - 15%);
    left: calc(50vw - 10%);
    background-color: #ffffff;
    padding: 10px;
    border: solid 1px #dedede;

    input {
        box-sizing: border-box;
        outline: none;
        display: block;
        width: 100%;
        padding: 7px;
        border: none;
        border-bottom: 1px solid #ddd;
        background: transparent;
        margin-bottom: 10px;
        height: 45px;
        font-size: 1.5rem;
    }

    div {
        display: flex;
        justify-content: space-around;

        button {
            width: 48%;
            border: 1px solid #555555;
            background-color: #ffffff;
            cursor: pointer;
            padding: 8px;
        }

        button:hover {
            color: #ffffff;
            background-color: #555555;
        }
    }
}

@include mobile() {
    #settings {
        margin: 0;
    }
}