.songs-table {
    font-family: player;
    border-collapse: collapse;
    width: 100%;
    font-size: 0.5rem;
}

.songs-table thead {
    border: solid #ececec 1px;
}

.songs-table th {
    text-align: left;
    max-width: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.songs-table tr:nth-child(even) {
    background-color: #f2f2f2
}

.songs-header span {
    font-weight: 200;
}

.songs-icon:before {
    padding-left: 5px;
    content: attr(data-content);
}

.th-icon {
    width: 20px;
}

.th-length {
    width: 40px;
}

.th-genre {
    width: 80px;
}