<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="shortcut icon" sizes="196x196" href="/icon.png">
        <link rel="apple-touch-icon" href="/icon.png"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="minimum-scale=1, initial-scale=1, maximum-scale=1">
        <meta name="description" content="Simple Web Audio Player">

        <meta property="og:title" content="SoundME">
        <meta property="og:type" content="article">
        <meta property="og:description" content="Simple Web Audio Player">
        <meta property="og:site_name" content="SoundME">
        <meta property="og:image" content="/icon.png">

        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content="@syu_chan_1005"/>
        <meta name="twitter:creator" content="@syu_chan_1005"/>
        <meta name="twitter:title" content="SoundME"/>
        <meta name="twitter:description" content="Simple Web Audio Player"/>
        <meta name="twitter:image" content="/icon.png"/>

        <title>SoundME</title>

        <link rel="stylesheet" href="/reset.css">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="/theme/{{theme}}/main.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosansjapanese.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/js/sha256.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/player.js"></script>
    </head>
    <body>
        <nav id="nav">
            <div id="title">SoundME</div>
            <div class="player">
                <button class="pIcon-backward backward-btn"></button>
                <button class="pIcon-play play-btn"></button>
                <button class="pIcon-forward forward-btn"></button>
                <span class="volume-icon pIcon-volume-medium"></span>
                <input type="range" class="volume-range" title="volume">
                <img class="album" width="45" height="45" src="/no_art.png">
                <div class="song">
                    <div class="title">Title</div>
                    <div class="artist">Artist</div>
                    <input type="range" class="seek-range" title="seek" step="0.1">
                </div>
                <button class="pIcon-list list-btn"></button>
            </div>
        </nav>
        <div id="list-window">
            <span class="list-queue">キュー</span>
            <span class="list-lyrics">歌詞</span>
            <div id="list-ctx"></div>
        </div>
        <nav id="menu">
            <a class="sIcon-artist" onclick="movePage('/artist')">アーティスト</a>
            <a class="sIcon-albums" onclick="movePage('/albums')">アルバム</a>
            <a class="sIcon-songs" onclick="movePage('/songs')">曲</a>
            <a class="sIcon-genre" onclick="movePage('/genre')">ジャンル</a>
            <a class="sIcon-logout" id="logout" onclick="movePage('/logout')">ログアウト</a>
            {{#if role}}
                <a class="sIcon-setting" id="setting" onclick="movePage('/setting')"> 詳細設定</a>
            {{/if}}
        </nav>

        <div id="ctx">
            {{{@body}}}
        </div>
    </body>
</html>