.album-art {
    margin: 10px 5px 5px;
}

.album-name {
    width: 165px;
}

.album-artist {
    color: #777777;
    width: 165px;
}

#list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}