.albums-data {
    margin: 0 10px;
}

.album-art {
    margin-top: 10px;
}

.album-name {
    width: 165px;
}

.album-artist {
    color: #777777;
    width: 165px;
}

#list {
    display: flex;
    flex-wrap: wrap;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}